{% extends "base.html" %}

{% block content %}
    <h1>Corrigir pontos</h1>

    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
    <form method="POST">

        {% csrf_token %}
        
        <input type="text" disabled value="{{ colaborador.Nome }}">
        <input type="text" disabled value="{{ data }}">
        <select name="dropdownPonto" id="">
            <option value="entrada">Entrada</option>
            <option value="saidaIntervalo">Saida Intervalo</option>
            <option value="entradaIntervalo">Entrada Intervalo</option>
            <option value="saida">Saida</option>
        </select>
        <p>Hora</p>
        <select name="hora" id="hora">
            {% for hora in horas %}
                <option value="{{ hora }}">{{ hora }}</option>
            {% endfor %}
        </select> 

        <p>Minuto</p>
        <select name="minuto" id="minuto">
            {% for minuto in minutos %}
                <option value="{{ minuto }}">{{ minuto }}</option>
            {% endfor %}
        </select> 

        <button type="submit" class="btn btn-enviar">Enviar</button>
    </form>
{% endblock %}